:root {
    --vermelho: #E50914;
    --preto: #141414
}

@font-face {
    font-family: 'Bebas-Regular';
    src: url(../fonts/Bebas-Regular.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #AAA;
}



header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

header .logo {
    color: var(--vermelho);
    font-family: 'Bebas-Regular';
    font-size: 40px;

}



.itens {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-left: 15px;
    color: white;
    

}

.itens:hover{
    color: black;
    background-color: chocolate;
    border-radius: 20px;
}




header nav a {
    text-decoration: none;
    color: #AAA;
    padding: 10px;
    float: left;
    margin-left: 30px;    

}

header nav a:hover {
    color: #fff;
}

/*elementos base*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/the_witcher_capa.jpg);

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filme-principal .sinopse {
    margin-bottom: 40px;
    margin-top: 10px;

}

.filme-principal .titulo {
    font-size: 50px;
    margin-top: 10px;

}

.filme-principal .container {
    width: 70%;
    margin-right: 20%;
}

.botao {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 1s ease all;

}

.botao i {
    margin-right: 6px;
}



.botao:hover {
    background-color: white;
    color: black;
}

.container {
    margin-left: 30px;

}

.box-filme {
    height: 100%;
    width: 100%;
    
    border: black 5px solid;
}
.box-filme2 {
    height: 100%;
    width: 100%;
    border: var(--preto) 5px solid;
}

.carrossel-filmes {
    margin-top: 5px;
    
    
}