@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 10px;
        width: 300px;
        height: 40px;
    }
    
    
}


@media screen and (min-width: 1000px){

    .sinopse{
        width: 50%;

        
    }

    

}

@media screen and (max-width: 500px){
     .filme-principal{
        height: 100%;
        width: 100%;

    }

    .titulo{
        width: 100%;
        
        
        
        
    }

    header .container nav{
        width: 100%;
        font-size: small;
        
    }

    .itens{
        margin: 10px;
        margin-left: 15%;
        
    }

    .filme-principal{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/the_witcher_capa.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
}

@media screen and (max-width: 600px){
    .filme-principal{
       height: 100%;
       width: 100%;

   }



header .container nav{
    width: 100%;
    font-size: small;
    
    
}

header nav a{
    margin-left: 40px;
}

.itens{
    margin: 10px;
    margin-left: 21.5%;
    
    
}

}
  
       
       
       
  



    
    
